@model PCS.Models.Registration
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Register.cshtml";
}
<!-- Main content Start -->
<div class="main-content">
    <!-- Contact Section Start -->
    <div id="rs-register" class="rs-contact style1 gray-bg pt-100 pb-100 md-pt-80 md-pb-80">
        <div class="container">
            <div id="mydiv" class="col-md-4">
                <p class="text-center">@TempData["Insert"]</p>
            </div>
            <div class="white-bg">

                <div class="row">

                    <div class="col-lg-12 form-part">
                        <div class="col-md-12 text-right">
                            <a href="~/Content/RegForm/registration form 21st.docx" class="btn btn-primary text-right pull-right">Download Sample File</a>
                            <a onclick="printJS('printJS-form', 'html')" class="btn btn-primary text-right"><i class="fa fa-print mr-1"></i> Print</a>
                        </div>
                        <div class="sec-title mb-35 md-mb-30">
                            <h2 class="title mb-0">REGISTRATION FORM</h2>

                        </div>

                        <div id="form-messages"></div>

                        <div style="margin-top:20px">
                            @using (Html.BeginForm("Save", "Register", FormMethod.Post, new { enctype = "multipart/form-data", @id = "printJS-form", @class = "contact-form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-md-3 mb-30">
                                        <div class="common-control">
                                            @Html.TextBoxFor(m => m.Title, new { @required = "true", @placeholder = "Title:    Dr./Mr./Mrs./Ms.", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-30">
                                        <div class="common-control">
                                            @Html.TextBoxFor(m => m.Name, new { @required = "true", @placeholder = "Name ...", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-30">
                                        <div class="common-control">
                                            @Html.TextBoxFor(m => m.Cnic, new { @required = "true", @placeholder = "CNIC #...", autocomplete = "off", @id = "cnic", @maxlength = "15" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-30">
                                        <div class="common-control">
                                            @Html.TextBoxFor(m => m.Designation, new { @required = "true", @placeholder = "Designation ...", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-30">
                                        <div class="common-control">
                                            @Html.TextBoxFor(m => m.HosName, new { @required = "true", @placeholder = "Hospital ...", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-30">
                                        <div class="common-control">
                                            @Html.TextBoxFor(m => m.PreEmail, new { @type = "email", @required = "true", @placeholder = "Preferred Mailing Address...", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-30">
                                        <div class="common-control">
                                            @Html.TextBoxFor(m => m.Email, new { @type = "email", @required = "true", @placeholder = "E-Mail Address", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-30">
                                        <div class="common-control">
                                            @Html.TextBoxFor(m => m.HospTel, new { @type = "number", @required = "true", @placeholder = "Hospital(051-000000)", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-30">
                                        <div class="common-control">
                                            @Html.TextBoxFor(m => m.ClinicTel, new { @type = "number", @required = "true", @placeholder = "Clinic(051-000000)", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-30">
                                        <div class="common-control">
                                            @Html.TextBoxFor(m => m.ResTel, new { @type = "number", @required = "true", @placeholder = "Res(051-000000)", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-30">
                                        <div class="common-control">
                                            @Html.TextBoxFor(m => m.Mobile, new { @type = "number", @required = "true", @placeholder = "Mobile(923012345678)", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="common-control">
                                            @Html.TextBoxFor(m => m.Pmdc, new { @required = "true", @placeholder = "PMDC#", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="common-control">
                                            @Html.TextBoxFor(m => m.Des, new { @required = "true", @placeholder = "I would like my title and name to appear on the badge as", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-30">
                                        <div class="common-control">
                                            <label><b>Arrival Date Time</b></label>
                                            @Html.TextBoxFor(m => m.Arrival, new { @type = "datetime-local", @required = "true", @placeholder = "", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-30">
                                        <div class="common-control">
                                            <label><b>Departure Date Time</b></label>
                                            @Html.TextBoxFor(m => m.Departure, new { @type = "datetime-local", @required = "true", @placeholder = "", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-30">
                                        <div class="common-control">
                                            <label><b>Number of Nights</b></label>
                                            @Html.TextBoxFor(m => m.Night, new { @type = "number", @required = "true", @value = "0", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-30">
                                        <div class="common-control">
                                            <label><b>Number of Rooms</b></label>
                                            @Html.TextBoxFor(m => m.Room, new { @type = "number", @required = "true", @value = "0", autocomplete = "off", })
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-30">
                                        <div class="common-control">
                                            <label><b>Fee (Delegate)</b></label>
                                            @Html.TextBoxFor(m => m.fee, new { @id = "FeeDelegate", @type = "number", @required = "true", @value = "0", autocomplete = "off", @onkeyup = "sum();" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-30">
                                        <div class="common-control">
                                            <label><b>Hotel Reservation</b></label>
                                            @Html.TextBoxFor(m => m.Hotel, new { @id = "Hotel", @type = "number", @required = "true", @value = "0", autocomplete = "off", @onkeyup = "sum();" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-30">
                                        <div class="common-control">
                                            <label><b>Total</b></label>
                                            @Html.TextBoxFor(m => m.Total, new { @id = "Total", @type = "number", @required = "true", @value = "0", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary" style="margin-top:30px" onclick="return confirm('Do you want to Save ..')"><i class="fa fa-plus"></i> Submit</button>

                                    </div>
                                </div>
                                <input type="submit" value="" style="background-color:white;border:none" />
                            }
                        </div>
                        <div class="col-md-12" style="margin-top:-50px">
                            <!-- Fees Section Start -->
                            <div class="rs-faq inner pt-92 md-pt-72 pb-100 md-pb-80">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8 pr-55 md-pr-15 md-mb-30">
                                            <div id="accordion" class="accordion">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <a class="card-link" data-toggle="collapse" href="#collapseOne">Registration Fee</a>
                                                    </div>
                                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <h4><b>Delegate :</b> Rs. 40,000</h4>
                                                            <h4><b>Junior Registrar/ Residence :</b> Rs. 25,000</h4>
                                                            <h4><b>Pharmaceutical Representative:</b> Rs. 25,000</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">Hotel Reservation (PC BHURBAN)</a>
                                                    </div>
                                                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <h4><b>Room per night for Single Room Including Tax:</b> Rs. 30,000</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fees Section End -->
                        </div>
                        <div class="col-md-12" style="margin-top:-50px">
                            <!-- Fees Section Start -->
                            <div class="rs-faq inner pt-92 md-pt-72 pb-100 md-pb-80">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12 pr-55 md-pr-15 md-mb-30">
                                            <div id="accordion" class="accordion">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <a class="card-link" data-toggle="collapse" href="#collapseNote">Note</a>
                                                    </div>
                                                    <div id="collapseNote" class="collapse show" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <ul class="listing-style2 modify ml-20 mb-28">
                                                                <li>Photocopies of this form can also be used for registration.</li>
                                                                <li>
                                                                    Due to limited accommodation at PC Bhurban all rooms are likely to be booked early.
                                                                    Rooms will be booked on first come first serve basis. Other delegates will be accommodated in other hotels in murree. Accommodation can only be booked on receipt of hotel charges in advance. This is not refundable .Due to Limited No of Rooms only one room/ Doctor will be allowed priority to faculty members and speakers will be given.
                                                                </li>
                                                                <li>All Pharmaceutical Representative to be registered.</li>
                                                                <li>Registration will include Lunch+ Dinner (Saturday) for Delegate+ Accompanying person for Saturday.</li>
                                                                <li>Rooms confirmation will be finalized after full payment of room rent in advance.</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fees Section End -->
                            <!-- Blog Section Start -->
                            <div class="rs-blog inner single pt-100 pb-100 md-pt-80 md-pb-80" style="margin-top:-90px">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="blog-part">
                                                <div class="article-content shadow mb-60">
                                                    <p class="markup-text mb-35 text-center">
                                                        <span>Please enclose a bank draft in the name of “21st Annual Cardiology Update” and mail to the Conference Secretariat.</span>
                                                        <span>CONFERENCE SECRETARIAT</span>
                                                        <br />
                                                        <span>Department of Cardiology</span>
                                                        <br />
                                                        <span>Pakistan Institute of Medical Sciences, Islamabad</span>
                                                        <br />
                                                        <span>Ph:# +92-51-9260330 Email: cardiologyupdate21@gmail.com</span>
                                                        <br />
                                                        <span>Whatsapp Group: cardiologyupdate, whatsapp # +92-321-5034320</span>
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Blog Section End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Section End -->

</div>
<!-- Main content End -->
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<link href="https://printjs-4de6.kxcdn.com/print.min.css" rel="stylesheet" />
<script>

    function sum() {
        var FeeDelegate = document.getElementById("FeeDelegate").value;
        var FeeAcc = document.getElementById("FeeAcc").value;
        var Hotel = document.getElementById("Hotel").value;
        var Total = parseFloat(FeeDelegate) + parseFloat(FeeAcc) + parseFloat(Hotel);
        document.getElementById("Total").value = Total;
    };
    $('#cnic').keydown(function () {
        if (event.keyCode == 8 || event.keyCode == 9
            || event.keyCode == 27 || event.keyCode == 13
            || (event.keyCode == 65 && event.ctrlKey === true))
            return;
        if ((event.keyCode < 48 || event.keyCode > 57))
            event.preventDefault();

        var length = $(this).val().length;

        if (length == 5 || length == 13)
            $(this).val($(this).val() + '-');
    });
</script>