<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>PCS</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.html">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/fav.png">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
    <!--Databa-->
    <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#My').DataTable();
            $('#You').DataTable();
        });
    </script>
    <!-- Bootstrap v4.4.1 css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/font-awesome.min.css">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/animate.css">
    <!-- aos css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/aos.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/owl.carousel.css">
    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/slick.css">
    <!-- off canvas css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/off-canvas.css">
    <!-- linea-font css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/fonts/linea-fonts.css">
    <!-- flaticon css  -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/fonts/flaticon.css">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/magnific-popup.css">
    <!-- Main Menu css -->
    <link rel="stylesheet" href="~/Content/assets/css/rsmenu-main.css">
    <!-- nivo slider CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/inc/custom-slider/css/nivo-slider.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/inc/custom-slider/css/preview.css">
    <!-- rsmenu transitions css -->
    <link rel="stylesheet" href="~/Content/assets/css/rsmenu-transitions.css">
    <!-- spacing css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/rs-spacing.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/Content/style.css"> <!-- This stylesheet dynamically changed from style.less -->
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/responsive.css">

    <style>
        .responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            
        }
   .fn{
       font-size:12px;
   }
    </style>
</head>
<body class="defult-home">

    <!-- Preloader area start here -->
    <div id="loader" class="loader">
        <div class="spinner"></div>
    </div>
    <!--End preloader here -->
    <!--Full width header Start-->
    <div class="full-width-header">
        <!-- Toolbar Start -->
        <div class="toolbar-area hidden-md">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <div class="toolbar-contact">
                            <ul>
                                <li><i class="flaticon-email"></i><a href="mailto:cardiologyupdate21@gmail.com">cardiologyupdate21@gmail.com</a></li>
                                <li><i class="flaticon-call"></i><a href="tel:03025551981">03025551981</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="toolbar-sl-share">
                            <ul>
                                @*<li class="opening"> <i class="flaticon-clock"></i> Mon - Fri: 9:00 am - 06.00pm / Closed on Weekends</li>*@
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Toolbar End -->
        <!--Header Start-->
        <header id="rs-header" class="rs-header">
            <!-- Menu Start -->
            <div class="menu-area menu-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="" style="margin-top:4px">
                                <a href="@Url.Action("Index","Main")">
                                    <img src="~/Content/Logo/FrLogo.png" alt="logo" >
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12" style="margin-top:-17px">
                            <div class="rs-menu-area">
                                <div class="main-menu">
                                    <div class="mobile-menu">
                                        <a class="rs-menu-toggle">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                    </div>
                                    <nav class="rs-menu pr-65">
                                        <ul class="nav-menu">
                                            <li class="menu-item-has-children">
                                                <a href="@Url.Action("Index","Aboutus")" class="fn">About Us</a>
                                                <ul class="sub-menu">
                                                    <li><a href="@Url.Action("Index","Aboutus")#rs-team"> About Us</a></li>

                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="@Url.Action("Index","Main")#rs-team" class="fn">Orgranizers</a>
                                                <ul class="sub-menu">
                                                    <li><a href="@Url.Action("Index","Main")#rs-team"> organizing Committee</a></li>

                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="@Url.Action("Index","Main")#rs-Part" class="fn">Partners</a>
                                                <ul class="sub-menu">
                                                    <li class="last-item"><a href="@Url.Action("Index","Main")#rs-Part">Partners</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="@Url.Action("Index","Main")#rs-faculty" class="fn">Faculties</a>
                                                <ul class="sub-menu">
                                                    <li><a href="@Url.Action("Index","Main")#rs-faculty"> National Faculty</a></li>
                                                    <li><a href="@Url.Action("Index","Main")#rs-Infaculty"> International Faculty</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#" class="fn">Council</a>
                                                <ul class="sub-menu">
                                                    <li><a href="@Url.Action("PCS","Main")"> PCS Council</a></li>
                                                    <li><a href="@Url.Action("PSIC","Main")"> PCIS Council</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#" class="fn">Programme</a>
                                                <ul class="sub-menu">
                                                    <li><a href="@Url.Action("Index","Main")#rs-live"> Live Sessions</a></li>
                                                    <li class="last-item"><a href="@Url.Action("ScientificSession","Main")"> Scientific Sessions</a></li>
                                                    <li class="last-item"><a href="#">Live Cases</a></li>
                                                    <li class="last-item"><a href="@Url.Action("WorkShop","Main")">WorkShops</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#" class="fn">Sponsers/Tariff</a>
                                                <ul class="sub-menu">
                                                    <li><a href="@Url.Action("Index","Main")#rs-sponser"> Sponsers</a></li>
                                                    <li><a href=""> Tariff</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="@Url.Action("Index","Register")" class="fn">Registration</a>
                                                <ul class="sub-menu">
                                                    <li><a href="@Url.Action("Index","Register")">Registration</a></li>
                                                </ul>
                                            </li>
                                        </ul> <!-- //.nav-menu -->
                                    </nav>
                                </div> <!-- //.main-menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu End -->
            <!-- Canvas Menu start -->
            
            <!-- Canvas Menu end -->
        </header>
        <!--Header End-->
    </div>
    <!--Full width header End-->

    @RenderBody()

    <!-- Footer Start -->
    <footer id="rs-footer" class="rs-footer">
        <div class="container">
            @*<div class="footer-newsletter">
                    <div class="row y-middle">
                        <div class="col-md-6 sm-mb-26">
                            <h3 class="title white-color mb-0">Newsletter Subscribe</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <form class="newsletter-form">
                                <input type="email" name="email" placeholder="21stcardiologyupdate@gmail.com" required="">
                                <button type="submit"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>*@
            <div class="footer-content pt-62 pb-79 md-pb-64 sm-pt-48">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 footer-widget md-mb-39">
                        <div class="about-widget pr-15">
                            <div class="logo-part">
                                <a href="@Url.Action("Index","Main")"><img src="~/Content/Logo/PCSlogoFooter.png" alt="Footer Logo"></a>
                            </div>
                            <p class="desc">Cardiology Conference 2021 will focus on most recent advancements in all aspects of cardiology.This year’s theme is “Updates on use of anti thrombotic/anticoagulants in cardiovascular diseases”. other aspects are Cardiovascular diseases Pediatric Cardiology, Stem Cell Research and Regeneration on Cardiology, Heart Transplantation, Intervention Cardiology and Radiology, includes prompt keynote presentation, Speaker presentations, Poster presentation and exhibitions to gain more information and meet leading Cardiology researchers and potential investigators and get recognition at this 3-day event.</p>
                            <div class="btn-part">
                                <a class="readon" href="@Url.Action("Index","Aboutus")">About Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 md-mb-32 footer-widget">
                        <h4 class="widget-title">Contact Info</h4>
                        <ul class="address-widget pr-40">
                            <li>
                                <i class="flaticon-location"></i>
                                <div class="desc">
                                    Murree
                                    Hotel Pearl Continental Bhurban
                                </div>
                            </li>
                            <li>
                                <i class="flaticon-call"></i>
                                <div class="desc">
                                    <a href="tel:03025551981">03025551981</a>
                                </div>
                            </li>
                            <li>
                                <i class="flaticon-email"></i>
                                <div class="desc">
                                    <a href="mailto:cardiologyupdate21@gmail.com">cardiologyupdate21@gmail.com</a>
                                </div>
                            </li>
                            @*<li>
                                    <i class="flaticon-clock"></i>
                                    <div class="desc">
                                        10:00 - 17:00
                                    </div>
                                </li>*@
                        </ul>
                    </div>

                </div>
            </div>
            <div class="footer-bottom">
                <div class="row y-middle">
                    <div class="col-lg-6 col-md-8 sm-mb-21">
                        <div class="copyright">
                            <p>© Copyright 2021 Cardiology. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 text-right sm-text-center">
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- start scrollUp  -->
    <div id="scrollUp">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->
    <!-- Search Modal Start -->
    <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="flaticon-cross"></span>
        </button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Search Here..." type="text" required="">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Modal End -->
    <!-- modernizr js -->
    @*<script src="~/Content/assets/js/modernizr-2.8.3.min.js"></script>*@
    <!-- jquery latest version -->
    @*<script src="~/Content/assets/js/jquery.min.js"></script>*@
    <!-- Bootstrap v4.4.1 js -->
    @*<script src="~/Content/assets/js/bootstrap.min.js"></script>*@
    <!-- Menu js -->
    <script src="~/Content/assets/js/rsmenu-main.js"></script>
    <!-- op nav js -->
    <script src="~/Content/assets/js/jquery.nav.js"></script>
    <!-- owl.carousel js -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <!-- Slick js -->
    <script src="~/Content/assets/js/slick.min.js"></script>
    <!-- isotope.pkgd.min js -->
    <script src="~/Content/assets/js/isotope.pkgd.min.js"></script>
    <!-- imagesloaded.pkgd.min js -->
    <script src="~/Content/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- wow js -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <!-- aos js -->
    <script src="~/Content/assets/js/aos.js"></script>


    <!-- Skill bar js -->
    <script src="~/Content/assets/js/skill.bars.jquery.js"></script>
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>
    <!-- counter top js -->
    <script src="~/Content/assets/js/waypoints.min.js"></script>
    <!-- video js -->
    <script src="~/Content/assets/js/jquery.mb.YTPlayer.min.js"></script>
    <!-- magnific popup js -->
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>

    <!-- Nivo slider js -->
    <script src="~/Content/assets/inc/custom-slider/js/jquery.nivo.slider.js"></script>
    <!-- plugins js -->
    <script src="~/Content/assets/js/plugins.js"></script>
    <!-- contact form js -->
    <script src="~/Content/assets/js/contact.form.js"></script>
    <!-- main js -->
    <script src="~/Content/assets/js/main.js"></script>
</body>


</html>